<header class="container-fluid navbar navbar-default navbar-static-top">   
    <div class="row">
        <div class=" brand-logo vcenter" class="logo-padding">
            <img  src="../../../../assets/svgs/wbc.svg" href="http://westpac.com.au/" aria-label="Brand logo" class="navbar-brand visible-xs-inline-block symbol-logo-phone"/>
            <img src="../../../../assets/svgs/wbc.svg" href="http://westpac.com.au/" aria-label="Brand logo" class="navbar-brand hidden-xs symbol-logo-tablet"/>
        </div>
    </div>
</header>