<footer class="footer container-fluid" style="height:100px;">
	<div class="icon-justified">
        <span aria-label="Padlock icon" class="icon icon-size-md icon-padlock text-muted pull-left"></span>
        <div >
            <p class="footer-text">
                Our site and your transactions are secure. You can read our <a target="_new" href="https://www.westpac.com.au/security?exitapp=yes">security information</a>.<br />
                <span class="subinfo-footer">&copy;{{todaysDate | date:'yyyy'}} Westpac Banking Corporation ABN 33 007 457 141 AFSL and Australian credit licence 233714 </span>
            </p>
            
        </div>
    </div>
</footer>